<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Menu @ Gordon&#39;s Crown</title>

<link rel="stylesheet" type="text/css" href="./../media/css/screen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="./../media/css/print.css" media="print" />

<script type="text/javascript" src="./../media/js/jquery.min.js"></script>
<script type="text/javascript" src="./../media/js/menu.js"></script>
</head>
<body class="menu">
	
	<div id="canvas">
		<div id="header">
			<h1>
				<a href="./../" title="Gordon&#39;s Crown - Dedicated to delicious British Food">
					<img alt="Gordon&#39;s Crown - Dedicated to delicious British Food" src="./../media/img/header.png" />
				</a>
			</h1>
		</div>
		<ul id="menu">
			<li class="home"><a href="./../">Home</a></li>
			<li class="menu"><a href="./../menu">Menu</a></li>
			<li class="contact"><a href="./../contact">Contact</a></li>
			<li class="login"><a href="./../auth/login">Login</a></li>
		</ul>
		<div id="content">
			<h1>Menu of Gordon&#39;s Crown</h1>
			<div id="sidebar">
				<h2>Jump to ...</h2>
				<ul>
					<li><a href="#starters" onclick="goToByScroll('starters');">Starters</a></li>
					<li><a href="#salads" onclick="goToByScroll('salads');">Salads</a></li>
					<li><a href="#main-courses" onclick="goToByScroll('main-courses');">Main Courses</a></li>
					<li><a href="#beef" onclick="goToByScroll('beef');">Beef</a></li>
					<li><a href="#desserts" onclick="goToByScroll('desserts');">Desserts</a></li>
				</ul>
			</div>
			<div id="foods">
				<h2><a class="category" name="starters">Starters</a></h2>		
				<h3 class="rating">Rating: 4.7 (20 ratings)</h3>
				<div class="category">
					<div class="foodcategory_image">
						<img src="./img/davys-classic-prawn-cocktail.jpg" alt="Davy&#39;s classic prawn cocktail" />
					</div>
					<ul>					
						<li>
							<a href="./davys-classic-prawn-cocktail" title="Go to detail view of Davy&#39;s classic prawn cocktail - &pound;7.85">Davy&#39;s classic prawn cocktail - &pound;7.85</a>
						</li>
						<li>
							<a href="./warm-grilled-goats-cheese-crostini" title="Go to detail view of Warm grilled goat&#39;s cheese crostini - &pound;5.55">Warm grilled goat&#39;s cheese crostini - &pound;5.55</a>
						</li>
						<li>
							<a href="./plate-of-scottish-smoked-salmon" title="Go to detail view of Plate of Scottish smoked salmon - &pound;7.95">Plate of Scottish smoked salmon - &pound;7.95</a>
						</li>
					</ul>
				</div>
				<h2><a class="category" name="salads">Salads</a></h2>
				<h3 class="rating">Rating: 3.7 (2 ratings)</h3>
				<div class="category">
					<div class="foodcategory_image">
						<img src="./img/gordons-salad.jpg" alt="Gordon&#39;s Salad" />
					</div>				
					<ul>
						<li>
							<a href="./gordons-salad" title="Go to detail view of Gordon&#39;s Salad - &pound;9.95">Gordon&#39;s Salad - &pound;9.95</a>
						</li>
					</ul>
				</div>
				<h2><a class="category" name="main-courses">Main courses</a></h2>
				<h3 class="rating">Rating: 4.5 (15 ratings)</h3>
				<div class="category">				
					<div class="foodcategory_image">
							<img src="./img/fish-n-chips.jpg" alt="Fish and chips" />
					</div>
					<ul>
						<li>
							<a href="./fish-and-chips" title="Go to detail view of Fish and chips - &pound;12.95">Fish and chips - &pound;12.95</a>
						</li>
					</ul>					
				</div>					
				<h2><a class="category" name="beef">Beef</a></h2>
				<h3 class="rating">Rating: 4.9 (25 ratings)</h3>
				<div class="category">
					<div class="foodcategory_image">
							<img src="./img/t-bone-steak.jpg" alt="T-Bone steak" />
					</div>				
					<ul>
						<li>
							<a href="./t-bone-steak" title="Go to detail view of T-Bone steak - &pound;28.95">T-Bone steak - &pound;28.95</a>
						</li>
					</ul>
				</div>
				<h2><a class="category" name="desserts">Desserts</a></h2>
				<h3 class="rating">Rating: 4.3 (10 ratings)</h3>
				<div class="category">				
					<div class="foodcategory_image">
							<img src="./img/chocolate-tart.jpg" alt="Chocolate tart" />
					</div>
					<ul>
						<li>
							<a href="./chocolate-tart" title="Go to detail view of Chocolate tart - &pound;5.85">Chocolate tart - &pound;5.85</a>
						</li>
					</ul>					
				</div>					
			</div>
			<div id="rssfed"><a href="./../feed/"><img src="./../media/img/rss.gif" alt="RSS-Feed with Menus" title="RSS-Feed with Menus""></a></div>
		</div>
		<div id="footer">
			<p>Copyright &copy; 2011 &#183; All Rights Reserved</p>
		</div>
	</div>
	
</body>
</html>